.uploadImg {
  position: relative;
}

.uploadImg .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.5);
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadImg .overlay .icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.uploadImg .overlay .icon i {
  color: #fff;
  font-size: 20px;
}

.select-contry img {
  max-width: 32px;
  max-height: 21px;
  margin-inline-end: 5px;
}

.datetimepicker.dropdown-menu {
  border: 0 !important;
  margin: 0;
  border-radius: 4px;
  width: 240px;
  min-width: 14rem;
  padding: 10px;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  padding: 1rem 0.5rem;
  border-radius: 4px;
}

.datetimepicker table {
  width: 100%;
}

.datetimepicker table {
  margin: 0;
}

.datetimepicker td,
.datetimepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  font-size: 10px;
}

.datetimepicker td,
.datetimepicker th {
  width: 35px;
  height: 30px;
  border-radius: 3px;
  font-weight: normal;
}

.datetimepicker thead th.prev,
.datetimepicker thead th.switch,
.datetimepicker thead th.next {
  color: #a7abc3;
  font-weight: 500;
}

.datetimepicker thead tr:first-child th,
.datetimepicker tfoot th {
  cursor: pointer;
}

.datetimepicker th.switch {
  width: 145px;
}

.datetimepicker thead th.next > span,
.datetimepicker thead th.prev > span {
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 12px;
}

.datetimepicker thead th.prev .glyphicon,
.datetimepicker thead th.switch .glyphicon,
.datetimepicker thead th.next .glyphicon {
  color: #a7abc3;
}

.datetimepicker th span.glyphicon {
  pointer-events: none;
}

.datetimepicker thead th.prev:before {
  content: "\f054";
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
}

.datetimepicker thead th.next:before {
  content: "\f053";
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
}

.datetimepicker tbody tr > td.day {
  color: #6c7293;
}

.datetimepicker tbody tr > td.day.old {
  color: #a7abc3;
}

.datetimepicker tbody tr > td.day:hover {
  background: #f7f8fa;
}

.datetimepicker tbody tr > td.day.selected,
.datetimepicker tbody tr > td.day.active {
  background: #00acf1;
  color: #ffffff;
}

.datetimepicker-hours thead {
  display: none;
}

.datetimepicker table tr td span.active {
  background-color: #00acf1 !important;
  background: #00acf1 !important;
}

.datetimepicker .datetimepicker-hours fieldset legend,
.datetimepicker .datetimepicker-minutes fieldset legend {
  font-size: 14px;
}

.rounded-30 {
  border-radius: 30px;
}
.rounded-15 {
  border-radius: 15px;
}
.rounded-10 {
  border-radius: 10px;
}
.box-shadow {
  box-shadow: 0 1px 6px rgba(25, 41, 71, 0.06);
}


// /

.input-image-preview input {
  display: none;
}
.input-image-preview {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  height: 50px;
  color: #a7b7c8;
}
.input-image-preview:not(.uploaded) .img-show {
  display: none !important;
}

.input-image-preview.uploaded .input-image-container {
  display: none !important;
}




.widget_item-dropdown .icon {
  position: absolute;
  inset-inline-start: 12px;
  top: 12px;
  background-color: #ffffff99;
  color: #000;
  z-index: 1;
  border-radius: 30px;
  padding: 9px 15px;
  display: flex;
  font-size: 18px;
  cursor: pointer;
}

.widget_item-blog .widget_item-dropdown .dropdown-menu {
  border-radius: 20px 6px 20px 20px;
  box-shadow: 15px 10px 72px rgba(0, 0, 0.26);
  &::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #FFF;
    transform: rotate(45deg);
    top: -3px;
    inset-inline-start: 5%;
    z-index: -1;
  }
}